<h1 class="mat-display-1">Asetukset</h1>
<main>
    <h2 class="mat-title">Latauspisteet</h2>

    <form>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">Maksulliset</mat-slide-toggle><br>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">Ilmaiset</mat-slide-toggle>
    </form>

    <h2 class="mat-title">Pistoke</h2>

    <form>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">CEE 774 - Schuko - Type F</mat-slide-toggle><br>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">CHAdeMO</mat-slide-toggle><br>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">CSS (Type 2 of Combined Coupler)</mat-slide-toggle><br>
        <mat-slide-toggle [checked]="true" [disabled]="true" color="warn" class="toggle">Mennekes (Type 2)</mat-slide-toggle>
    </form>
</main>
